.header-container {
    font-size: 25px;
    display: grid;
    color: #ffffff;
    background-color: #141517;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}

.header-container .header-right .name span {
    color: #0a66c2;
}

.header-left {
    padding: 30px;
    margin: auto;
}

.header-left img {
    width: 350px;
    height: 550px;
}

.header-right {
    padding: 30px;
    margin: auto;
}