body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .header-left,
body.dark-mode .header-right {
    color: #ffffff;
}

body.dark-mode .floating-nav a {
    color: #ffffff;
    background-color: #1a73e8;
}

body.dark-mode .floating-nav a:hover {
    background-color: #084a8c;
}

body.dark-mode main {
    background-color: #000000;
}

body.dark-mode .container {
    background-color: #000000;
    color: #ffffff;
}

.about-me,
.portfolio,
.contact {
    color: #000000;
}

body.dark-mode .about-me h1,
body.dark-mode .about-me p,
body.dark-mode .portfolio h1,
body.dark-mode .portfolio p,
body.dark-mode .contact h1,
body.dark-mode .contact p {
    color: #ffffff;
}

.home h1,
.home p {
    color: #000000;
}

body.dark-mode .home h1,
body.dark-mode .home p {
    color: #ffffff;
}

body.dark-mode .home span {
    color: #1a73e8;
}

#theme-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #0a66c2;
    color: #ffffff;
    border: none;
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    z-index: 1000;
}

#theme-toggle:hover {
    background-color: #084a8c;
}